:root {
  --cl-vert: #09bc83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  filter: blur(240%);
  background-image: linear-gradient(
      rgba(3, 3, 3, 0.733),
      rgba(24, 207, 131, 0.466)
    ),
    url("../images/immeubles.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.connexionForm {
  width: 70%;
  height: 70%;
  border-radius: 16px;
  /* backdrop-filter: blur(20px); */
  background: white;
  box-shadow: 2px 2px 9px rgba(228, 225, 225, 0.596);
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.connexionForm .partGauche {
  width: 50%;
  height: 100%;
  color: white;
  object-fit: cover;
  background: var(--cl-vert);
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  background: white;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
.partGauche img {
  width: 100%;
  height: 100%;
}

.partGauche h1 {
  color: white;
  font-size: 1.9em;
  font-weight: 700;
}

.connexionForm .partDroite {
  width: 50%;
  height: 100%;
  object-fit: cover;
  box-shadow: inset 8px 8px 15px rgba(145, 143, 143, 0.158),
    inset -8px -8px 15px rgba(145, 143, 143, 0.158);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

.partDroite form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.partDroite h2 {
  color: var(--cl-vert);
  font-size: 1.9em;
}
.items {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.partDroite form .item {
  width: 100%;

  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item label {
  color: gray;
  font-size: 20px;
}
.item input {
  width: 100%;
  padding: 3%;
  border: 1px solid gray;
  border: none;
  color: var(--cl-vert);
  font-size: 18px;
  outline: none;
  box-shadow: inset 8px 8px 15px rgba(145, 143, 143, 0.158),
    inset -8px -8px 15px rgba(145, 143, 143, 0.158);
}

input::placeholder {
  font-size: 18px;
}
input:focus {
  border: 1px solid var(--cl-vert);
}

button {
  padding: 2% 4%;
  background: var(--cl-vert);
  border-radius: 16px;
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: ease all 1s;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
button:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 15px rgba(206, 202, 202, 0.747);
}
